@import './base.css';
@import '@mdi/font/css/materialdesignicons.min.css';

@font-face {
  font-family: 'Maza-Bold';
  src: url('@/assets/Maza-Bold.otf') format('opentype');
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

#app {
  background-color: black;
  background-image: url('@/assets/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  letter-spacing: 6px;
  font-family: 'Maza-Bold', sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
