@import './base.css';
@import '@mdi/font/css/materialdesignicons.min.css';

@font-face {
  font-family: 'Maza-Bold';
  src: url('@/assets/Maza-Bold.otf') format('opentype');
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.item-container {
  font-size: 2vmax;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	color: white;
	border: 5px solid transparent;
	transition: all 0.3s ease;
	--bg-color: white;
	--text-color: black;
	width: 100%;
	padding: 10px;
	flex-wrap: wrap;
  /* border-radius: 5px; */
  backdrop-filter: blur(0px);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;
  --svg-filter: invert(0%) brightness(100%);
}


.item-container.hovered {
	background-color: white;
	color: black;
	box-shadow: 0 0 10px white;
	--bg-color: black;
	--text-color: white;
  --svg-filter: invert(100%) brightness(100%);
}

.item-title {
	flex: 1;
	white-space: nowrap;
	flex-basis: 25%;
}

.input-button {
  font-family: 'Maza-Bold';
  font-size: 2vmax;
  border: 5px solid transparent;
	transition: all 0.3s ease;
	width: 100%;
	padding: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  color: white;
  letter-spacing: 4px;
}

.input-button:active {
  background-color: inherit;  /* 或其他默认颜色 */
  color: inherit;             /* 或其他默认颜色 */
  box-shadow: none;
}
.input-button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

.view-base {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 10vw;
}

.view-nav-back a {
  position: relative;
  margin: 10px;
  font-size: large;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.view-nav-back:active {
  transform: translateY(5px);
}

#app {
  background-color: black;
  background-image: url('@/assets/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  letter-spacing: 4px;
  font-family: 'Maza-Bold', sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (orientation: portrait) {
  .view-base {
    padding: 5vw;
  }
	.item-container {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
	}
  .input-button:hover {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: none;
  }
  .input-button:active {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
  }
}
